.container {
        width: 37.5rem;
        height: 66.7rem;
        background-color: $Dark-Navy;
        display: flex;
        justify-content: center; 
        position: relative;


    .game-container {
        width: 32.8rem;
        height: 51.6rem;
        margin: 2rem 2.4rem 0 2.3rem;
        position: relative;
        // border: 1px solid magenta;

        .head-options {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 32.8rem;
            height: 4.5rem;
            // border: 1px solid magenta;
        
            .turn-mark {
                width: 9.6rem;
                height: 3.5rem;
                display: flex;
                align-items: center;
                justify-content: space-around;
                background-color: $Semi-Dark-Navy;
                border-radius: .5rem;
                box-shadow: 0 .5rem #132026;
                cursor: pointer;
        
                .mark {
        
                    img {
                        width: 1.6rem;
                        filter: brightness(0) saturate(100%)
                        invert(80%) sepia(10%) 
                        saturate(464%) hue-rotate(153deg) 
                        brightness(92%) contrast(91%);
                    }
                }
        
                p{
                    font-size: 1.4rem;
                    letter-spacing: .1rem;
                    font-weight: 600;
                    text-transform: uppercase;
                    color: $Silver;
                }
            }
        
            .restart-btn {
                background-color: $Silver;
                width: 4rem;
                height: 3.5rem;
                border-radius: .5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: 0 .5rem #737f83;
                cursor: pointer;
        
                img {
                    width: 1.7rem;
                }
            }
        }

        .game-board {
            width: 32.8rem;
            height: 32.8rem;
            display: grid;
            grid-template-columns: repeat(3, 9.6rem);
            gap: 2rem;
            margin-top: 6.4rem;
            // border: 1px solid greenyellow;

            .game-mark {
                display: flex;
                justify-content: center;
                align-items: center;
                // width: 9.6rem;
                height: 9.5rem;
                box-shadow: 0 .7rem #132026;
                border-radius: 1.5rem;
                background-color: $Semi-Dark-Navy;
                cursor: pointer;

                .random-mark {
                   width: 4rem; 
                }
            }

        }

        .info-container {
            display: flex;
            justify-content: space-between;
            margin-top: 2rem;

            .match-info {
                width: 9.6rem;
                height: 6.4rem;
                border-radius: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .info{
                    text-transform: uppercase;
                    font-size: 1.3rem;
                    letter-spacing: .1rem;
                }
                .results{
                    font-size: 2rem;
                    font-weight: 600;
                    letter-spacing: .1rem;
                }
            }
            .your-score{
                background-color: $Light-Blue;
            }
            .ties-score {
                background-color: $Silver;
            }
            .cpu-score{
                background-color: $Light-Yellow;
            }
        }
    

    }

    .pop-up-you-lost {
       width: 100%;
       height: 100%;
       background-color: $Light-black; 
       position: absolute;
       display: flex;
       justify-content: center;
       align-items: center;
       display: none;

       .you-lost-container{
           width: 37.5rem;
           height: 22.8rem;
           background-color: $Semi-Dark-Navy;
           display: flex;
           justify-content: center;
           align-items: center;
           flex-direction: column;

           .pop-up-info {
            // border: 1px solid magenta;
            width: 28rem;
            height: 14rem;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 1.5rem;

            .default-font {
                font-size: 1.4rem;
                letter-spacing: .1rem;
                font-weight: 600;
                text-transform: uppercase;
                color: $Silver;
            }

            .take-round {
                width: 28;
                display: flex;
                justify-content: space-between;
                align-items: center;
 
                .img-mark-turn {
                    width: 3rem;
                    margin-right: 1.4rem;
                   img {
                     width: 3rem;
                   } 
                }

                p {
                    font-size: 2.4rem;
                    font-weight: 600;
                    letter-spacing: .1rem;
                    text-transform: uppercase;
                    color: $Light-Yellow;
                }
            }

            .btns {
                width: 23.8rem;
                height: 5.2rem;
                display: flex;
                justify-content: space-between;
                
                .btn{
                    height: 5.2rem;
                    border: none;
                    text-transform: uppercase;
                    font-weight: 600;
                    letter-spacing: .1rem;
                    border-radius: 1rem;
                }

                .quit {
                   width: 7.6rem;
                   background-color: $Silver;
                   box-shadow: 0 .5rem #737f83;
                }
                .next-round {
                    width: 14.6rem;
                    background-color: $Light-Yellow;
                    box-shadow: 0 .5rem #b88320;
                }
            }


           }

           
       }
    }
    
}

