//Colors
$Dark-Navy: #1A2A33;
$Semi-Dark-Navy: #1F3641;
$Silver: #A8BFC9;
$Silver-Hover: #DBE8ED;
$Light-Blue: #31C3BD;
$Light-Blue-Hover: #65E9E4;
$Light-Yellow: #F2B137;
$Light-Yellow-Hover: #FFC860; 


//center styles

$Center: (
justify-content: center,
align-items: center,  
);



@import "general";
@import "solo";
