* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  font-family: "Outfit", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 37.5rem;
  height: 66.7rem;
  background-color: #1A2A33;
  display: flex;
  justify-content: center;
  position: relative;
}
.container .game-container {
  width: 32.8rem;
  height: 51.6rem;
  margin: 2rem 2.4rem 0 2.3rem;
  position: relative;
}
.container .game-container .head-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 32.8rem;
  height: 4.5rem;
}
.container .game-container .head-options .turn-mark {
  width: 9.6rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #1F3641;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem #132026;
  cursor: pointer;
}
.container .game-container .head-options .turn-mark .mark img {
  width: 1.6rem;
  filter: brightness(0) saturate(100%) invert(80%) sepia(10%) saturate(464%) hue-rotate(153deg) brightness(92%) contrast(91%);
}
.container .game-container .head-options .turn-mark p {
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #A8BFC9;
}
.container .game-container .head-options .restart-btn {
  background-color: #A8BFC9;
  width: 4rem;
  height: 3.5rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.5rem #737f83;
  cursor: pointer;
}
.container .game-container .head-options .restart-btn img {
  width: 1.7rem;
}
.container .game-container .game-board {
  width: 32.8rem;
  height: 32.8rem;
  display: grid;
  grid-template-columns: repeat(3, 9.6rem);
  gap: 2rem;
  margin-top: 6.4rem;
}
.container .game-container .game-board .game-mark {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9.5rem;
  box-shadow: 0 0.7rem #132026;
  border-radius: 1.5rem;
  background-color: #1F3641;
  cursor: pointer;
}
.container .game-container .game-board .game-mark .random-mark {
  width: 4rem;
}
.container .game-container .game-board .tic-tac-toe {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9.5rem;
  box-shadow: 0 0.7rem #1d8885;
  border-radius: 1.5rem;
  background-color: #31C3BD;
}
.container .game-container .game-board .tic-tac-toe .aligned {
  width: 4rem;
  filter: brightness(0) saturate(100%) invert(10%) sepia(21%) saturate(1257%) hue-rotate(157deg) brightness(96%) contrast(87%);
}
.container .game-container .info-container {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.container .game-container .info-container .match-info {
  width: 9.6rem;
  height: 6.4rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container .game-container .info-container .match-info .info {
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
}
.container .game-container .info-container .match-info .results {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}
.container .game-container .info-container .your-score {
  background-color: #31C3BD;
}
.container .game-container .info-container .ties-score {
  background-color: #A8BFC9;
}
.container .game-container .info-container .cpu-score {
  background-color: #F2B137;
}
.container .pop-up-you-lost {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.55);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.container .pop-up-you-lost .you-lost-container {
  width: 37.5rem;
  height: 22.8rem;
  background-color: #1F3641;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container .pop-up-you-lost .you-lost-container .pop-up-info {
  width: 28rem;
  height: 14rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}
.container .pop-up-you-lost .you-lost-container .pop-up-info .default-font {
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #A8BFC9;
}
.container .pop-up-you-lost .you-lost-container .pop-up-info .take-round {
  width: 28;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .pop-up-you-lost .you-lost-container .pop-up-info .take-round .img-mark-turn {
  width: 3rem;
  margin-right: 1.4rem;
}
.container .pop-up-you-lost .you-lost-container .pop-up-info .take-round .img-mark-turn img {
  width: 3rem;
}
.container .pop-up-you-lost .you-lost-container .pop-up-info .take-round p {
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #F2B137;
}
.container .pop-up-you-lost .you-lost-container .pop-up-info .btns {
  width: 23.8rem;
  height: 5.2rem;
  display: flex;
  justify-content: space-between;
}
.container .pop-up-you-lost .you-lost-container .pop-up-info .btns .btn {
  height: 5.2rem;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1rem;
  border-radius: 1rem;
}
.container .pop-up-you-lost .you-lost-container .pop-up-info .btns .quit {
  width: 7.6rem;
  background-color: #A8BFC9;
  box-shadow: 0 0.5rem #737f83;
}
.container .pop-up-you-lost .you-lost-container .pop-up-info .btns .next-round {
  width: 14.6rem;
  background-color: #F2B137;
  box-shadow: 0 0.5rem #b88320;
}
.container .pop-up-you-won {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.55);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.container .pop-up-you-won .you-won-container {
  width: 37.5rem;
  height: 22.8rem;
  background-color: #1F3641;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container .pop-up-you-won .you-won-container .pop-up-info {
  width: 28rem;
  height: 14rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}
.container .pop-up-you-won .you-won-container .pop-up-info .default-font {
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #A8BFC9;
}
.container .pop-up-you-won .you-won-container .pop-up-info .take-round {
  width: 28;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .pop-up-you-won .you-won-container .pop-up-info .take-round .img-mark-turn {
  width: 3rem;
  margin-right: 1.4rem;
}
.container .pop-up-you-won .you-won-container .pop-up-info .take-round .img-mark-turn img {
  width: 3rem;
}
.container .pop-up-you-won .you-won-container .pop-up-info .take-round p {
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #31C3BD;
}
.container .pop-up-you-won .you-won-container .pop-up-info .btns {
  width: 23.8rem;
  height: 5.2rem;
  display: flex;
  justify-content: space-between;
}
.container .pop-up-you-won .you-won-container .pop-up-info .btns .btn {
  height: 5.2rem;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1rem;
  border-radius: 1rem;
}
.container .pop-up-you-won .you-won-container .pop-up-info .btns .quit {
  width: 7.6rem;
  background-color: #A8BFC9;
  box-shadow: 0 0.5rem #737f83;
}
.container .pop-up-you-won .you-won-container .pop-up-info .btns .next-round {
  width: 14.6rem;
  background-color: #F2B137;
  box-shadow: 0 0.5rem #b88320;
}
.container .pop-up-restart {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.55);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.container .pop-up-restart .restart-container {
  width: 37.5rem;
  height: 22.8rem;
  background-color: #1F3641;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container .pop-up-restart .restart-container .pop-up-info {
  width: 28rem;
  height: 14rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}
.container .pop-up-restart .restart-container .pop-up-info .restart-game {
  width: 28;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .pop-up-restart .restart-container .pop-up-info .restart-game p {
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #A8BFC9;
}
.container .pop-up-restart .restart-container .pop-up-info .btns {
  width: 37.5rem;
  height: 5.2rem;
  display: flex;
  justify-content: space-evenly;
}
.container .pop-up-restart .restart-container .pop-up-info .btns .btn {
  height: 5.2rem;
  border: none;
  text-transform: uppercase;
  font-size: 1.7rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  border-radius: 1rem;
}
.container .pop-up-restart .restart-container .pop-up-info .btns .cancel-btn {
  width: 13.9rem;
  background-color: #A8BFC9;
  box-shadow: 0 0.5rem #737f83;
}
.container .pop-up-restart .restart-container .pop-up-info .btns .restart-btn {
  width: 15.1rem;
  background-color: #F2B137;
  box-shadow: 0 0.5rem #b88320;
}

/*# sourceMappingURL=style.css.map */
